<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bflow.toolbox.hive.gmfBridge.adapterFactory">
      <factory
            class="org.bflow.toolbox.hive.gmfbridge.graphiti.GraphitiGmfEditPartAdapterFactory">
      </factory>
   </extension>
   <extension
         point="org.bflow.toolbox.modelnavigator.iconprovider">
      <provider
            class="org.bflow.toolbox.hive.gmfbridge.graphiti.modelnavigation.GraphitiIconProvider">
      </provider>
   </extension>

</plugin>
