<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.editorAssociationOverride">
      <editorAssociationOverride
            class="org.bflow.toolbox.hive.eclipse.integration.EditorAssociationOverride2"
            id="org.bflow.toolbox.hive.eclipse.integration.editorAssociationOverride2">
      </editorAssociationOverride>
   </extension>

</plugin>
