<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.bflow.toolbox.hive.eclipse.integration.internal.editor.DiagramEditorProxy"
            contributorClass="org.bflow.toolbox.hive.eclipse.integration.internal.editor.DynamicDiagramActionBarContributor"
            default="false"
            icon="images/Beejive-Im-flat-circle-16.png"
            id="org.bflow.toolbox.hive.eclipse.integration.internal.editor.diagramEditorProxy"
            name="Bflow* Toolbox Diagram Editor">
      </editor>
   </extension>

</plugin>
