<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="false"
            class="org.bflow.toolbox.bpmn.interop.BpmnInteropContributionItemProvider">
         <Priority
               name="Medium">
         </Priority>
         <partContribution
               class="oepc.diagram.part.OepcDiagramEditor">
            <partMenuGroup
                  id="conversionGroup"
                  menubarPath="/diagramMenu/"
                  separator="true">
            </partMenuGroup>
            <partMenu
                  id="conversionMenu"
                  menubarPath="/diagramMenu/conversionGroup">
            </partMenu>
            <partMenuGroup
                  id="exportGroup"
                  menubarPath="/diagramMenu/conversionMenu/"
                  separator="true">
            </partMenuGroup>
            <partAction
                  global="false"
                  id="org.bflow.toolbox.bpmn.interop.actions.convertOepcToBpmn"
                  menubarPath="/diagramMenu/conversionMenu/exportGroup">
            </partAction>
            <partAction
                  global="false"
                  id="org.bflow.toolbox.bpmn.interop.actions.convertOepcToEpc"
                  menubarPath="/diagramMenu/conversionMenu/exportGroup">
            </partAction>
         </partContribution>
         <partContribution
               class="org.bflow.toolbox.epc.diagram.part.EpcDiagramEditor">
            <partMenuGroup
                  id="conversionGroup"
                  menubarPath="/diagramMenu/"
                  separator="true">
            </partMenuGroup>
            <partMenu
                  id="conversionMenu"
                  menubarPath="/diagramMenu/conversionGroup">
            </partMenu>
            <partMenuGroup
                  id="exportGroup"
                  menubarPath="/diagramMenu/conversionMenu/"
                  separator="true">
            </partMenuGroup>
            <partAction
                  global="false"
                  id="org.bflow.toolbox.bpmn.interop.actions.convertEepcToBpmn"
                  menubarPath="/diagramMenu/conversionMenu/exportGroup">
            </partAction>
         </partContribution>
      </contributionItemProvider>
   </extension>

</plugin>
