<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.ewl.emf.wizards">
      <wizards
            file="epc/elements.ewl"
            namespaceURI="org.bflow.toolbox.epc">
      </wizards>
   </extension>
   <extension
         point="org.eclipse.epsilon.ewl.emf.wizards">
      <wizards
            file="oepc/businessObjects.ewl"
            namespaceURI="org.bflow.toolbox.oepc">
      </wizards>
   </extension>

</plugin>
