<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.ui.editors">
      <!-- @generated vc -->
      <editor
            id="vcchart.presentation.VcchartEditorID"
            name="%_UI_VcchartEditor_label"
            icon="icons/full/obj16/VcchartModelFile.gif"
            extensions="vcchart"
            class="vcchart.presentation.VcchartEditor"
            contributorClass="vcchart.presentation.VcchartActionBarContributor">
      </editor>
   </extension>

</plugin>
