<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.bflow.toolbox.export.visio"
            name="Microsoft Visio">
      </category>
      <wizard
            category="org.bflow.toolbox.export.visio"
            class="org.bflow.toolbox.export.visio.epc.wizard.EpcExportWizard"
            icon="icons/sample.gif"
            id="org.bflow.toolbox.export.visio.epc"
            name="VISIO EPC">
         <description>
            Export an EPC diagram as a Visio document
         </description>
      </wizard>
   </extension>

</plugin>
