<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.bflow.toolbox.hive.eclipse.integration.gmf.GmfDiagramEditorProxy"
            contributorClass="org.bflow.toolbox.hive.eclipse.integration.gmf.GmfDynamicDiagramActionBarContributor"
            default="true"
            icon="platform:/plugin/org.bflow.toolbox.hive.eclipse.integration/images/Beejive-Im-flat-circle-16.png"
            id="org.bflow.toolbox.hive.eclipse.integration.internal.editor.diagramEditorProxy.GMF"
            name="Bflow* Toolbox Diagram Editor (GMF)">
      </editor>
   </extension>
   <extension
         point="org.bflow.toolbox.hive.eclipse.integration.editorproxy">
      <proxy
            class="org.bflow.toolbox.hive.eclipse.integration.gmf.GmfEditorProxyInfo">
      </proxy>
   </extension>

</plugin>
