<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icons/bee16a.png"
            thread="main">
         <run
               class="org.bflow.toolbox.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.bflow.toolbox.application.FeaturedBflowPerspective"
            icon="icons/bee16a.png"
            id="org.bflow.toolbox.application.perspective.featured"
            name="Bflow Perspective (Featured)">
      </perspective>
      <perspective
            class="org.bflow.toolbox.application.DefaultBflowPerspective"
            icon="icons/bee16a.png"
            id="org.bflow.toolbox.application.perspective.default"
            name="Bflow Perspective (Default)">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="bflow* Toolbox 1.5.0">
         <property
               name="windowImages"
               value="platform:/plugin/org.bflow.toolbox.product/icons/bee16a.png,platform:/plugin/org.bflow.toolbox.product/icons/bee32.png,platform:/plugin/org.bflow.toolbox.product/icons/bee48.png,platform:/plugin/org.bflow.toolbox.product/icons/bee64.png,platform:/plugin/org.bflow.toolbox.product/icons/bee128.png,platform:/plugin/org.bflow.toolbox.product/icons/bee256.png">
         </property>
         <property
               name="appName"
               value="bflow* Toolbox 1.5.0">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
