<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main">
         <run
               class="org.bflow.toolbox.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.bflow.toolbox.application.FeaturedBflowPerspective"
            icon="icons/bee16a.png"
            id="org.bflow.toolbox.application.perspective.featured"
            name="Bflow Perspective (Featured)">
      </perspective>
      <perspective
            class="org.bflow.toolbox.application.DefaultBflowPerspective"
            icon="icons/bee16a.png"
            id="org.bflow.toolbox.application.perspective.default"
            name="Bflow Perspective (Default)">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.bflow.toolbox.application.application"
            name="Bflow* Toolbox">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Bflow* Toolbox">
         </property>
      </product>
   </extension>

</plugin>
